
body{
    background-color: aqua;
}

.ehene{
    background-color: red;
}

.emarte{
    background-color: yellow;
}

.emerkure{
    background-color: green;
}

.eejte{
    background-color: blue;
}

.epremte{
    background-color: purple;
}