.box{
    width: 150px;
    height: 150px;
}

/* .orange{
    background-color: orange;
    position: absolute;
    top: 70px;
    left: 70px;
} */

.blue{
    background-color: blue;
}

.box{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: lightblue;
}

.child{
    width: 80px;
    height: 80px;
    background-color: orange;
    position: absolute;
    right: 20;
    bottom: 20;
}