div{Gjilani
    background-color: aqua;
    color: black;
    width: 300px;
}

span{
    font-size: 50px;
    color: red;
    background-color: black;
}


.jcoders{
    color: blue;
}

.gjilani{
    color: yellow;
}